/Anschreiben-Wetter-API.docx
/backups
/Daten
/erste_ideen_eigenanteil.docx
/Gliederung.docx
/Gliederung_überarbeitet.docx
/Programme
/Seminararbeit.docx
/testdaten_modelle
/to-do-eigenanteil.docx
/trainierte_modelle
/Trainingsmodelle
/website
/website-server
/~$schreiben-Wetter-API.docx