body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    transition: margin-right 0.3s; /* Animationsdauer */
    color: #ffffff;
    background-color: rgba(60, 73, 65, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Optional, um die Größe zu bearbeiten: */
    width: 35%;   /* oder eine feste Breite wie 400px */
    height: 30%;  /* oder eine feste Höhe wie 300px */
}

form {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    margin-left: 20px;
}

h2 {
    margin-left: 20px;
}

button {
    background: #28a745;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

button:hover {
    background: #218838;
}


