* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}
.form-container, .table-container {
    border: 10px solid rgba(60, 73, 65, 0.7);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid rgba(60, 73, 65, 0.5);
}
th, td {
    padding: 8px;
    text-align: left;
}
/* Modal-Stil */
.modal {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(60, 73, 65, 0.8);
    width: 80%;
    max-width: 500px;
}
.flash-messages {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.alert {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.legend label, .legend select, .legend #legendBtn, .legend input[type='checkbox'], .legend span{
    display: inline-block;
    vertical-align: middle;  
    margin-bottom: -50px;
}
.message-container {
    position: fixed;  
    top: 50%;         
    left: 50%;        
    transform: translate(-50%, -50%);  
    z-index: 1000;    
    max-width: 90%;   
}
.close-btn {
    cursor: pointer;
    padding: 0 10px;
    float: right;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: white;
    text-shadow: 0 1px 0 #ffffff;
}
.highlighted-row {
    background-color: rgba(60, 73, 65, 0.5);  /* Graue Hintergrundfarbe für den Highlight-Effekt */
}
#sidebar {
    position: fixed;
    top: 0;
    right: -1100px; /* Die Breite der Seitenleiste als negativer Wert, damit sie außerhalb des Bildschirms startet */
    width: 1100px;
    height: 100%;
    background-color: rgba(60, 73, 65, 0.7);  /* 50% transparentes Grau */
    color: #ffffff;
    overflow-y: scroll;
    transition: right 0.4s; /* Animationsdauer */
}

#main-content {
    transition: margin-right 0.3s; /* Animationsdauer */
    color: #ffffff;
    background-color: rgba(60, 73, 65, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Optional, um die Größe zu bearbeiten: */
    width: 50%;   /* oder eine feste Breite wie 400px */
    height: 65%;  /* oder eine feste Höhe wie 300px */
    
}

#toggleButton {
    position: fixed;
    right: -70px;
    top: 50%;
    transform: translateY(-50%);

    width: 120px;
    height: 60px;
    background-color: rgba(60, 73, 65, 0.7);
    border: none;
    cursor: pointer;

    transform: rotate(270deg) translateY(-50%);
    /* Um die Trapezform zu erstellen */
    clip-path: polygon(0% 100%, 17.5% 0%, 82.5% 0%, 100% 100%);
    color: #ffffff;

    transition: right 0.4s; /* Animationsdauer */
}

#toggleButton:after {
    font-size: 2em;
    color: white;
    display: block;
    text-align: center;
    line-height: 60px;
}

header {
    background-color: rgba(60, 73, 65, 0.5);
    padding: 10px 0;
    padding-top: 20px;
    text-align: center;
    height: 30px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.impressum {
    background-color: rgba(60, 73, 65, 0.5);
    padding: 10px 0;
    padding-top: 20px;
    text-align: center;
    height: 30px;
    position: absolute;   /* This positions the element based on the nearest positioned ancestor */
    bottom: 0;            /* This places it at the bottom of the positioned ancestor */
    width: 100%;          /* This makes it span the full width of the page */
}

.impressum span {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.login {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.login:hover {
    text-decoration: underline;
}

.logout-form {
    display: inline-block; 
    margin-right: 10px;    
    vertical-align: middle;         
}

.logout-form input[type="submit"] {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.logout-form input[type="submit"]:hover {
    background-color: #c00;
}

.hintergrundbild {
    background-image: url("1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 10vh;
  }

#main-content h3 {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px; /* Vergrößert den Text von h3 Elementen */
    margin-bottom: 8px; /* Optional: Fügt etwas Abstand unter den h3 Elementen hinzu */
    margin-left: 20px;
}
#main-content h2 {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 1.5em; /* Vergrößert den Text von h3 Elementen */
    margin-left: 20px;
   }

/* Reduziere die Höhe der Inputfelder */
#main-content input[type="number"] {
    height: 25px; /* oder den gewünschten Wert */
    padding-left: 5px;
    font-size: 14px; /* optional, um die Schriftgröße anzupassen */
}

#main-content input[name="Jahreszeit"] {
    height: 25px; /* oder den gewünschten Wert */
    padding-left: 5px;
    font-size: 14px; /* optional, um die Schriftgröße anzupassen */
    margin-left: 250px;
}

#main-content input[name="Dauer"] {
    height: 25px; /* oder den gewünschten Wert */
    padding-left: 5px;
    font-size: 14px; /* optional, um die Schriftgröße anzupassen */
    margin-left: 218px;
}

#main-content input[name="avgtemp_c"] {
    height: 25px; /* oder den gewünschten Wert */
    padding-left: 5px;
    font-size: 14px; /* optional, um die Schriftgröße anzupassen */
    margin-left: 59px;
}

#main-content input[name="maxwind_kph"] {
    height: 25px; /* oder den gewünschten Wert */
    padding-left: 5px;
    font-size: 14px; /* optional, um die Schriftgröße anzupassen */
    margin-left: 54px;
}

#main-content input[name="totalprecip_mm"] {
    height: 25px; /* oder den gewünschten Wert */
    padding-left: 5px;
    font-size: 14px; /* optional, um die Schriftgröße anzupassen */
    margin-left: 22px;
}

#main-content input[name="avghumidity"] {
    height: 25px; /* oder den gewünschten Wert */
    padding-left: 5px;
    font-size: 14px; /* optional, um die Schriftgröße anzupassen */
    margin-left: 19px;
}

#main-content input[name="Waldfläche in Hektar"] {
    height: 25px; /* oder den gewünschten Wert */
    padding-left: 5px;
    font-size: 14px; /* optional, um die Schriftgröße anzupassen */
    margin-left: 162px;
}

#main-content select {
    height: 25px; /* oder den gewünschten Wert */;
    padding: 0 5px;
    font-size: 14px; /* optional, um die Schriftgröße anzupassen */
    width: auto;
}

/* Reduziere die Höhe der Buttons */
#main-content button[name="train_model"] {
    height: 30px;
    font-size: 14px;
    padding: 5px 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer; /* Zeigt den Zeiger-Cursor, wenn man über den Button fährt */
    margin-left: 35px;
}

#main-content button {
    height: 30px;
    font-size: 14px;
    padding: 5px 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer; /* Zeigt den Zeiger-Cursor, wenn man über den Button fährt */
}

#main-content label {
    font-size: 1.2em;
    padding-top: 15px;
    padding-left: 15px;
    margin-right: 10px; /* Abstand nach den Labels */
    margin-left: 20px;
}

#main-content input[type="submit"] {
    height: 30px;
    font-size: 14px;
    padding: 5px 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer; /* Zeigt den Zeiger-Cursor, wenn man über den Button fährt */
    margin-left: 35px;
}

#main-content input[type="checkbox"] {
    transform: scale(1.5); /* Vergrößert das Kontrollkästchen */
    margin-left: 30px; /* Optional: Fügt etwas Abstand rechts vom Kontrollkästchen hinzu */
}
