<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genauigkeit des Modells</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='docs.css') }}">
    <header>
        <nav>
            <a href="{{ url_for('index') }}">Startseite</a>
        </nav>
    </header>
    
</head>

<body class="hintergrundbild">
    <div id="sidebar">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Startseite</a></li>
                <li><a href="#projektbeschreibung">Projektbeschreibung</a></li>
                <li><a href="#anleitung">Anleitung</a></li>
                <li><a href="#modellauswahl">Modellauswahl</a></li>
                <li><a href="#legende">Legende</a></li>
                <li><a href="#testdaten">Testdaten</a></li>
                <li><a href="#modelltraining">Modelltraining</a></li>
                <li><a href="#vorhersage">Vorhersage</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <h2 id="projektbeschreibung">Projektbeschreibung</h2>
        <label>Im Zuge meiner Seminararbeit habe ich ein Projekt gestartet, bei dem es darum geht, mit Hilfe von Machine Learning-Modellen aktuelle Probleme 
            des 21. Jahrhunderts anzugehen. Für meinen Eingenanteil entschied ich mich Modelle zu trainieren welche die Anzahl an Waldbränden vorhersagen können. 
            Dafür habe ich 2500 Trainingsdatensätze basierend auf deutschen Waldbrandstatistiken aus den letzten 12 
            Jahren zusammengestellt. 
        </label>
        <h2 id="anleitung">Anleitung</h2>
        <h2 id="modellauswahl">Modellauswahl</h2>
        <label>Bitte wählen Sie im Dropdown-Menü, das rot markiert ist, eines der verfügbaren Modelle aus, um die Anzahl der Waldbrände vorherzusagen. 
            Insgesamt stehen Ihnen sechs unterschiedlich vortrainierte Modelle zur Verfügung, die sich sowohl in ihrer Arbeitsweise als auch in 
            ihrer Vorhersagegenauigkeit voneinander unterscheiden. Sie haben ebenfalls die Möglichkeit, personalisierte Modelle zu trainieren. 
            Weitere Details zum Prozess des Modelltrainings finden Sie im entsprechenden Abschnitt „Modelltraining“.</label>
        <br>
        <div class="bild-container">
            <img src="/static/modelauswahl.png" alt="Ein Beispielbild" class="mein-bild">
        </div>
        <h2 id="legende">Legende</h2>
        <label>Die sechs vortrainierten Modelle sind durch eine spezifische Buchstabenkombination, das sogenannte Suffix, gekennzeichnet.
             Diese Kombination dient als Hinweis auf die beim Modelltraining verwendeten Eingabeparameter. 
             Durch Klicken auf den rot markierten Button "Legende" öffnet sich ein Popup, welches Ihnen die Zuordnung der Buchstaben zu den jeweiligen 
             Eingabeparametern zeigt. Ein weiterer Buchstabe "G" kann als Suffix in der Modellbezeichnung auftreten. 
             Dieser indiziert, dass das betreffende Modell mit gerundeten Trainingsdaten trainiert wurde.
        </label>
        <br>
        <div class="bild-container">
            <img src="/static/Legende.png" alt="Ein Beispielbild" class="mein-bild">
        </div>
        <div class="bild-container">
            <img src="/static/legende-popup.png" alt="Ein Beispielbild" class="mein-bild">
        </div>
        <h2 id="testdaten">Testdaten</h2>
        <label>Ich stelle Ihnen 100 Testdatensätze zur Verfügung, die auch Informationen zur Jahreszeit enthalten. Die Jahreszeiten sind dabei wie folgt kodiert:
        </label>
        <ul>
            <li>- Frühling (März bis Mai): 1</li>
            <li>- Sommer (Juni bis August): 2</li>
            <li>- Herbst (September bis November): 3</li>
            <li>- Winter (Dezember bis Februar): 4</li>
        </ul>
        <label>
            Um auf die Testdaten zuzugreifen, 
            klicken Sie bitte auf einen der rot markierten Buttons auf der rechten Seite. 
            Diese variieren je nachdem, ob sie gerundet wurden oder nicht.
            Wählen Sie einen Datensatz aus, indem Sie auf die entsprechende Zeile klicken. 
            Die ausgewählte Zeile wird dann dunkler, wie die rote Umrandung zeigt. Nachdem Sie Ihre Auswahl getroffen haben, 
            werden die Daten automatisch in die vorgesehenen Eingabefelder kopiert.
        </label>
        <br>
        <div class="bild-container">
            <img src="/static/side-bar.png" alt="Ein Beispielbild" class="mein-bild">
        </div>
        <div class="bild-container">
            <img src="/static/testdaten.png" alt="Ein Beispielbild" class="mein-bild">
        </div>
        <h2 id="modelltraining">Modelltraining</h2>
        <label>Nachdem Sie den Button "Modell trainieren" betätigt haben, öffnet sich ein Popup-Fenster. 
            Dort können Sie eines von sechs verschiedenen Modellen auswählen. Sie können zusätzlich entscheiden, ob die Trainingsdaten gerundet werden sollen oder nicht.
            Im Anschluss daran haben Sie die Möglichkeit, zusätzliche Eingabeparameter 
            festzulegen. Die drei Parameter "Dauer", "Durchschnittliche Temperatur" und "Waldfläche" sind bereits voreingestellt, da sie Pflicht sind.
        </label>
        <br>
        <div class="bild-container">
            <img src="/static/modelltraining.png" alt="Ein Beispielbild" class="mein-bild">
        </div>
        <h2 id="vorhersage">Vorhersage</h2>
        <label>Nachdem Sie entweder einen Testdatensatz ausgewählt oder eigene Werte eingegeben haben, wird eine Vorhersage durchgeführt. 
            Im rot markierten Feld finden Sie das Ergebnis dieser Vorhersage, basierend auf Ihren Eingaben. Sofern Sie sich für einen Testdatensatz 
            entschieden haben, wird zusätzlich der tatsächliche Wert präsentiert. Abschließend wird Ihnen der MSE (Mean Squared Error) zur Bewertung der 
            Vorhersagegenauigkeit angezeigt.
        </label>
        <br>
        <label>

            Der MSE (Mean Squared Error) ist ein Maß für den durchschnittlichen Fehler eines Modells. 
            Er berechnet den Durchschnitt der quadrierten Differenzen zwischen den tatsächlichen und den vom Modell vorhergesagten Werten. 
            Ein niedriger MSE weist darauf hin, dass die Vorhersagen des Modells im Durchschnitt nahe an den tatsächlichen Werten liegen, 
            während ein hoher MSE darauf hindeutet, dass es größere Abweichungen gibt. Die Einheit des MSE ist das Quadrat der Einheit der Zielvariable. 
            Beispielsweise, wenn die Zielvariable in Metern gemessen wird, dann ist die Einheit des MSE Quadratmeter. Diese quadratische Natur des MSE macht 
            ihn empfindlich gegenüber größeren Fehlern und ermöglicht eine einfache Integration in mathematische Optimierungsverfahren, kann jedoch die 
            Interpretierbarkeit erschweren, weshalb oft der RMSE für eine intuitivere Einheit bevorzugt wird.
        </label>
        <br>
        <label>
            Des Weiteren wird Ihnen der RMSE (Root Mean Squared Error) angezeigt. 
            Dieser repräsentiert die durchschnittliche Abweichung der Modellvorhersagen von den tatsächlichen Werten, 
            ausgedrückt in der gleichen Einheit wie die Zielvariable. Er bietet ein Maß für die durchschnittliche Größe der Fehler in den Vorhersagen des Modells.
        </label>
        <br>
        <label>
            Wenn Sie die Option "Intervall anzeigen" rechts neben dem "Legende"-Button aktiviert haben, wird Ihnen ein Vorhersageintervall präsentiert. 
            Hier sind die spezifischen Methoden für die verschiedenen Modelle:
        </label>
        <ul>
            <li>Neuronale Netze: Bei neuronalen Netzen wird ein gesondertes Modell mit Dropout-Schichten verwendet,
                 um Unsicherheiten in den Vorhersagen zu modellieren. Diese Methode kann zu einer geringeren Vorhersagegenauigkeit führen, 
                 die als Dropout-Vorhersage bezeichnet wird. Parallel dazu wird die Vorhersage des Standardmodells ohne Intervall angezeigt, 
                 welches typischerweise genauer ist.</li>
            <li>Random Forest: Random Forest nutzt die natürliche Varianz der Vorhersagen von vielen Entscheidungsbäumen, um ein Vorhersageintervall zu schätzen. 
                Die Intervalle werden oft durch die Perzentile der Vorhersagen aller Bäume im Modell bestimmt.</li>
            <li>XGBoost, SVR, Decision Tree, Linear Regression: Für diese Modelle wird das Vorhersageintervall typischerweise mittels Bootstrapping berechnet. 
                Dieser Prozess beinhaltet das mehrmalige Trainieren des Modells auf unterschiedlichen Stichproben der Trainingsdaten (gezogen mit Zurücklegen), 
                um eine Verteilung der Vorhersagen zu erhalten. Die Grenzen des Vorhersageintervalls werden dann als bestimmte Perzentile dieser Verteilung festgelegt.</li>
        </ul>
        <br>
        <label>
            Die Anwendung dieser Methoden, insbesondere Bootstrapping, kann zu einer längeren Rechenzeit führen, insbesondere bei großen Datensätzen oder komplexen Modellen.
        </label>
        <div class="bild-container">
            <img src="/static/vorhersage.png" alt="Ein Beispielbild" class="mein-bild">
        </div>

    </div>

</body>

</html>
